

<p>Find me in app/views/public/index.html.erb</p>


<% @feeds.each do |feed| %>
	<% feed.entries.each do |rss| %>
	<%= rss.title %>
	<%#=raw rss.inspect %>	

	<% end %>
<% end %>
<!-- <script src="http://www.reddit.com/r/webdev.embed?limit=20&t=all" type="text/javascript"></script> -->
